{% extends 'blog/base.html' %}

 {% block title %}
  <title> Редактирование поста #{{ post.pk }}</title>
{% endblock title %}

{% block content %}
  <form action="" method="post">
      {% csrf_token %}
    <fieldset>
        <legend align="center">Редактирование поста</legend>
        <div class="form-group">
          <label for="title" class="form-label mt-4">Заголовок</label>
          {{ form.title }}
        </div>
      <div class="form-group">
      <label for="body" class="form-label mt-4">Текст поста</label>
        {{ form.body }}
    </div>

    <br>
      <input class="btn btn-primary" type="submit" value="Сохранить изменения" />
        </fieldset>
    </form>
{% endblock content %}