{% block body %}
  <h2>Создание нового сотрудника</h2>
  {% for field, errors in form.errors.items() %}
  {{ ', '.join(errors) }}
  {% endfor %}
 <form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="mb-3">
      {{ form.username.label(class="form-label") }}
      {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.data_employees.label(class="form-label") }}
      {{ form.data_employees(class="form-control") }}
    </div>
   <div class="mb-3">
      {{ form.workplace.label(class="form-label") }}
      {{ form.workplace(class="form-control") }}
    </div>
    <div class="button-wrapper">
      {{ form.submit(class="btn btn-primary")}}
    </div>
  </form>


  <div class="my-3">
    <a class="btn btn-secondary" href="{{ url_for('index_page') }}">
      Back to employees list
    </a>
  </div>
{% endblock %}
